html{
    --color-bg: #0d1b2a;
    --container-color: #778da9;
    --item-color: #1b263b;
    --hg-color: #e0e1dd;

    background-color: var(--color-bg);
}

div.container{
    width: 500px;
    height: 650px;
    background-color:  var(--container-color);
    margin: 40px 40px 40px 40px;
    padding: 30px 30px 30px 30px;
    text-align: justify;
    color: var(--hg-color);
    border: 2px solid var(--hg-color);
}

div.container img.centrar{
    width:  120px;
    height: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.container h4{
    font-family: "Boldonse";
}

p{
    font-family: 'Times New Roman', Times, serif;
    color: var(--hg-color);
}

div.referencias{
    height: 40px;
    background-color: var(--container-color);
    margin: 40px 40px 40px 40px;
}

a{
    height: 30px;
    margin: 40px 40px 40px 40px;    
    text-align: center;
    align-content: center;
    color: var(--hg-color);
    text-decoration: none;
    position: relative;
    top: 10px;
}

a.hover{
    color: #007bff;
}

img.img-Portada{
    height: 256px;
    width: 455px;
    margin-left: 40px;
}

h1{
    font-family: "Boldonse";
    color: var(--hg-color);
    margin-left: 40px;
}

div.container-form{
    width:  400px;
    height: 500px;
    padding: 20px 20px 20px 20px;
    color: var(--hg-color);
    background-color: var(--container-color);
    margin-left: 40px;
}

textarea{
    width: 300px; 
    height: 150px;
    display: block;
}
